extends main

block splash
  include uploader

block content
  form(action="/post/update", method="post")
    h1#title.editable(data-placeholder='Title') #{post.title}
    div.date(contenteditable='true') #{post.date}
    input.date(contenteditable='true') 
    div#body.editable(data-placeholder='Type some text') !{post.body}
    input#image(type='hidden',name='image',value=post.image)
    input#id(type='hidden',name='id',value=post._id)

block admin
  include adminbar
