extends ../main

block head
  script.
    var postdata=!{JSON.stringify(post)}

block splash
  div.splash.dropspot(style="background-image:url("+ Spirit.image +")")
    a.drag-over(href="/") Drop in a new image

block content
  div.container
    form.post(action='/post/'+ post._id, method='post')
      h1#title.editable(data-placeholder='Title') #{post.title}

      div.date(contenteditable='true')
      input.timestamp(name='date',type='hidden',value=(new Date()))

      //div#author.editable(data-placeholder=Spirit.helpers.currentUser().name )

      div#body.editable(data-placeholder='Type some text')

      input#image(type='hidden',name='image',value=post.image)
      input#id(type='hidden',name='id',value=post._id)
      input.status(type='hidden',name='status',value=post.status)
